.row {
  border-bottom: 5px solid;
  padding: 18px 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  
  @media (max-width: 599px) {
    margin-left: 0px;
    margin-right: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }  
  .title {
    margin-bottom: 10px;
  }
}
