html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #434a54;
  min-height: 100vh;
  max-width: 100vw;
  font-family: galeb;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  font-size: 13px;
  padding: 0;
  line-height: 1.3em;
  max-height: 100vh;
}

img {
  max-width: 100%;
}

input, textarea, select, button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, p {
  line-height: 1.3em;
}
h1, h2, h3, h4, h5 {
  margin: 0.5em 0;
}

ul {
  padding-left: 22px;
}

@media (min-width: 600px) {
  ::-webkit-scrollbar{
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.03);
  }
  ::-webkit-scrollbar-thumb{
      background-color: rgba(0, 0, 0, 0.2);
  }
}
