@value colors: "styles/colors.css";
@value primary from colors;

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
  font-size: 15px;
  line-height: 1.6em;
}

.primary {
  background: primary;
}
