.footer {
  position: fixed;
  left: 290px;
  right: 0;
  bottom: 0;
  color: white;
}

.inner {
  background: #434a54;
  padding: 15px 30px;
}

.title {
  font-size: 16px;
}

.item {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left: 30px;
  &:first-child {
    margin-left: 0px;
  }
}
