.icon {
  position: relative;
  width: 24px;
  height: 24px;

  > div {
    left: 0;
    position: absolute;
    border-bottom: 2px solid;
    border-bottom-color: #4b89dc;
    transition: 0.3s ease all;
    transition-delay: 0.3s;
    transform: translate(0%);
  }
  .l1 {
    top: 20%;
    width: 100%;
  }
  .l2 {
    top: 50%;
    width: 60%
  }
  .l3 {
    top: 80%;
    width: 80%;
  }
  &.active {
    >div {
      left: 50%;
      top: 50%;
      width: 100%;
    }
    .l1 {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .l2 {
      opacity: 0;
      width: 0;
    }
    .l3 {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }  
  &.back {
    > div {
      transition-delay: 0s;
    }
    .l1 {
      transform-origin: 0 50%;
      transform: translate(0, -50%) rotate(-45deg);
      width: 50%;
      top: 50%;
    }
    .l2 {
      width: 100%;
      transform: translate(0, -50%);
    }
    .l3 {
      transform-origin: 0 50%;
      transform: translate(0, -50%) rotate(45deg);
      width: 50%;
      top: 50%;
    }
  }
}
