.table {
  border-top: 1px solid #e2e2e2;
}

.row {
  border-bottom: 1px solid #e2e2e2;
  height: 45px;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
}

.meta {
  font-size: 14px;
  margin-right: 10px;
}

.answer {
  font-size: 14px;
  color: black;
}