@value colors: "styles/colors.css";
@value primary from colors;

.root {
  color: white;
  background-color: primary;
  position: relative;
//  box-shadow: inset 0px -49px 50px -28px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  
  .texture {
    background-repeat: repeat;
    background-size: 10px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .inner {
    padding-top: 70px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}