.article {
  background: white;
  min-height: 500px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  .image {
    height: 260px;
    @media (max-width: 599px) {
      height: 200px;
    }
  }
}

.horizontal {
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    .image {
      height: auto;
      order: 1;
      width: 66%;
    }
    .tags {
      position: relative;
      left: 0;
      transform: none;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }  
}


.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.3s ease all;
  background-color: rgba(0, 0, 0, 0.05);
  &:hover {
    filter: grayscale(20%)
  }
}


.content {
  position: relative;
  padding: 30px;
}

.tags {
  position: absolute;
  top: -15px;
  left: 30px;
  > div {
    margin-right: 10px;
  }
}

.title {
  margin-bottom: 15px;
  transition: 0.2s ease all;
  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.meta {
  margin: 20px 0;
  font-size: 14px;
  opacity: 0.6;
  @media (max-width: 599px) {
    margin: 10px 0;
  }
}

.descrip {
  line-height: 1.7em;
  font-size: 15px;
  margin-bottom: 30px;
  @media (max-width: 599px) {
    font-size: 13px;
  }
}